.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  -webkit-animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  -webkit-animation-delay: -50ms;
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  -webkit-animation-delay: -150ms;
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  -webkit-animation-delay: -250ms;
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@-webkit-keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .loader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .loader {
  display: none;
}

/*   ------------------    --------------        ---------------------*/

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
canvas {
  border: 1px soild black;
  width: 100%;
}
h1 {
  display: inline-block;
  padding: 0.3em;
  font-family: "Megrim", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(-50%, -50%);
  transform: scale(3);
  color: rgba(255, 255, 255, 0.68);
  border: 0.075em solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 640px) {
  canvas {
    width: 100vw;
    height: 100vh;
  }

  #home h1 {
    left: 40%;
  }
}

/*   ---------------------------------------------------    */
header,
.logo,
nav,
header ul,
header li,
header a,
.container {
  display: flex;
}

.container {
  box-sizing: border-box;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #bfbcd1;
  border-bottom: 10px solid #272247;
  font-family: sans-serif;
  padding: 20px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #272247;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav li {
  text-align: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 0;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

nav a:hover {
  background-color: #4e477a;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#home {
  border: none;
  padding: 0;
}
/* Delete header */

@media only screen and (max-width: 640px) {
  * {
    padding: 0;
    display: block;
  }
  header {
    display: none;
  }
  title,
  script {
    display: none;
  }
  #about main {
    padding: 0%;
    display: block !important;
  }
  #about .description {
    display: block;
    padding: 0 !important;
  }
  .container {
    border: none;
    height: auto;
    padding: 0;
    text-align: center;
  }
  .container img {
    width: 100%;
  }
  .container main {
    padding: 0%;
    grid-template-columns: 1fr;
  }
  .cards,
  .card {
    padding: 0%;
  }
  h2,
  p {
    margin: 50px;
  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
  .cards {
    display: block !important;
  }
  h2 {
    text-align: center;
  }
  .card {
    padding: 0% !important;
    width: 100%;
  }
  input,
  #message {
    width: 100% !important;
  }
  form {
    width: 80% !important;
  }
}

#about {
  display: block;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
}

#about main {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100%;
  display: grid;
}

.description img {
  height: 100%;
}

h2 {
  font-size: 4rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  text-align: center;
  padding-right: 50px;
}

.description p {
  align-self: center;
}

.description img {
  justify-self: center;
}

#portfolio main {
  text-align: center;
}

.cards {
  display: grid;
  box-sizing: border-box;
  height: 70%;
  width: 80%;
  margin: 10px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  padding: 0 20px;
  text-align: center;
}

.card img {
  width: 80%;
  display: block;
  margin: 0 auto 5px auto;
}

.cards a {
  text-decoration: none;
}

.card p {
  color: #000;
}

#contacts main {
  text-align: right;
}

#contacts form {
  text-align: center;
  display: block;
  width: 40%;
  margin: 15px auto;
}

#contacts p {
  text-align: center;
}

#contacts input,
#contacts textarea {
  width: 100%;
  margin-bottom: 5px;
  background-color: #423b6b;
  border: 1px solid #bfbcd1;
  box-shadow: 0 0 5px black;
  /* 272247 */
}

/* Стилизация placeholder */

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

/* ---------------------------------------------------- */

i {
  font-size: 50px;
  margin: 0 10px;
  color: #551a8b;
}

.social {
  align-self: flex-end;
  margin-top: 10%;
}
i:hover {
  border-radius: 50%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
